* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f5f5f5;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 40px;
}

header h1 {
    font-size: 2rem;
    color: #333;
}

header p {
    color: #555;
    margin-top: 8px;
}


.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.art-card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 40px;

}

.art-card img {
    width: 100%;
    border-radius: 10px;
}

.art-card h3 {
    margin: 10px 0;
    color: #333;
}


@media (max-width: 600px) {
    header h1 {
        font-size: 1.5rem;
    }

    .art-card {
        padding: 10px;
    }
}